.save {
    .save__btn {
        padding: 16px 40px;
        color: #fff;
        background-color: #2E8FF0;
        border-radius: 6px;
        box-shadow: 0px 5px 8px #2E8FF029;
        font-family: 'Helvetica', 'Open Sans';
    }
}